

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
html,body{
    height:100%;
    width:100%;
}
#main{
    height: 100%;
    width:100%;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 0px 90px;
    padding-top: 50px;
    gap: 80px;
}
#left{
    height:100%;
    width: 45%;
     /* background-color: red;  */
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding-bottom:50px ;
}

#left h1{
   
font-size: 100px; 
   font-weight: 300;
   font-family: "Work Sans", sans-serif;
   line-height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}
#bottom-left{
  /* height:40%; */
  width:100%;
  /* background-color: yellow;   */
}
#color{
    /* background-color: blue; */
    width: fit-content;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #000;
}
#color h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}
#color1{
    height: 20px;
    width: 20px;
    background-color: burlywood;
    border-radius:50% ;
    margin:3px ;
}
#color2{
    height: 20px;
    width: 20px;
    background-color: rgb(192, 66, 16);  
    border-radius: 50%;
}
#left h2{
    margin-top:30px ;
    font-size:30px;
    margin-bottom: 15px;
}
#left p{
font-size:20px ;
width: 60%;
font-weight: 600;
color:#444;
line-height: 18px;
}
#right{
    height:90%;
    width: 33%;
    /* background-color: blue; */
    position: relative;
}
#right-top{
    height:80px ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px ;
}
#right-top h5 i{
    color:yellow;
}
#right-top h4{
font-size:  20px;
font-weight: 600;
font-family: worksans;
font-family: "Work Sans", sans-serif;

}
#right-top h5{
    font-size: 16px;
}

#right img{
    width:100%;
    height:88%;
    object-fit: cover;
}
#back-gola {
    position: absolute;
  height: 120px; 
  width: 120px; 
  background-color:rgb(26 26 26);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -15%;
  top:50%;
}
#back-gola h5{
    font-size: 20px;
    font-weight: 500;
    
}
#rotated{
   position: absolute;
   left: 0; 
   /* background-color: red; */
   bottom: 2%;
   rotate: -90deg;
   transform-origin: 0 0;
   font-size:35px ;
   font-weight: 500;
   color: white;
   
}

